.search{
    padding: 1rem;
}

.res-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.filter{
    margin: 0.5rem;
}

.filter button{
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    text-transform: uppercase;
    
}