
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin: 1rem 0;

}

.logo-container img{
    width: 80px;
}

.nav-items ul{
    display: flex;
    list-style: none;
    margin: 0rem 1rem;
}
.nav-items ul li{ 
    display: flex;
    list-style: none;
    margin: 0rem 1rem;
}

.nav-items ul li a{
   text-decoration: none;
   color: black;
   margin: 0 0.5rem;
   font-size: 1rem;
   font-family: Ubuntu;
   text-transform: uppercase;
}

.login{
    padding: 0 20px;
    cursor: pointer;
}